:root {
  --background-color-main: rgb(37, 37, 218);
  --background-color-secondary: rgb(100, 100, 241);
  --width-main: 80%;
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* FOR MOBILE S FROM 320 PX */

/* ================================
HEADER
================================ */
.header {
  top: 0;
  position: sticky;
  z-index: 100;
}

.topnav {
  overflow: hidden;
  background-color: var(--background-color-main);
  position: relative;
  padding: 0 5%;
}

.topnav img {
  height: 28px;
}

.topnav #myLinks {
  display: none;
}

.topnav #myLinks2 {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  transition: color 1s ease;
}

.topnav a:hover {
  color: rgb(0, 255, 179);
}

.topnav a.icon {
  background: var(--background-color-main);
  display: block;
  position: absolute;
  right: 0;
  top: 7px;
}

.active {
  background-color: var(--background-color-main);
  color: white;
}

/* ================================
ABOUT
================================ */

#section-about {
  height: fit-content;
  padding: 5% 0;
  background-color: var(--background-color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5%;
}

#section-about p,
#section-about h1 {
  padding: 5% 0;
  width: var(--width-main);
}

h1 {
  font-size: 3em;
  color: white;
}

p {
  font-size: 1.5em;
  color: white;
}

/* ================================
PROJECTS
================================ */

#section-projects {
  background-color: var(--background-color-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  row-gap: 40px;
}

.project-div {
  background-color: var(--background-color-secondary);
  width: var(--width-main);
  border-radius: 5%;
  height: auto;
}

.project-div img {
  width: 100%;
  border-radius: 5% 5% 0 0;
  opacity: 0.5;
}

@keyframes opacity {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.project-div img:hover {
  animation: opacity 2s forwards;
}

.project-div a {
  color: white;
  font-size: 1.6em;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin: 5% 0;
  transition: color 1s ease;
}

.project-div a:hover {
  color: rgb(0, 255, 179);
}

/* ================================
CONTACT
================================ */

#section-contact {
  background-color: var(--background-color-secondary);
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

#section-contact form {
  width: var(--width-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

#section-contact input {
  height: 50px;
  width: 100%;
  font-size: 1.5em;
  border: none;
}

#section-contact textarea {
  width: 100%;
  height: 250px;
  font-size: 1.5em;
  resize: none;
  border: none;
}

#section-contact button {
  width: 50%;
  height: 50px;
  font-size: 1.5em;
  border-radius: 5px;
  border: none;
  background-color: blue;
  color: white;
}

/* ================================
FOOTER
================================ */

footer {
  height: 50px;
  padding: 5px 5%;
  bottom: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color-main);
}

@keyframes button {
  0% {
    background-color: var(--background-color-main);
  }
  25% {
    background-color: var(--background-color-secondary);
  }
  50% {
    background-color: rgb(94, 94, 184);
  }
  75% {
    background-color: rgb(12, 12, 88);
  }
  100% {
    background-color: rgb(62, 62, 197);
  }
}

footer a {
  text-decoration: none;
  background-color: var(--background-color-secondary);
  color: white;
  font-size: 12px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 30px;
  animation: button 6s infinite;
}

footer span {
  color: white;
  font-size: 1.1em;
}

/* ================================
FROM 672px FOR TABLETS 
================================ */
@media only screen and (min-width: 672px) {
  .topnav img {
    height: 48px;
  }

  .topnav a {
    font-size: 30px;
  }

  h1 {
    font-size: 4em;
  }

  p {
    font-size: 2em;
  }

  .project-div a {
    font-size: 2.5em;
  }

  footer {
    height: 73.2px;
  }
  footer span {
    font-size: 1.8em;
  }

  footer a {
    font-size: 25px;
    padding: 15px;
    font-weight: bold;
  }
}

/* ================================
FROM 1024px FOR LAPTOPS AND SO FORTH
================================ */

@media only screen and (min-width: 1024px) {
  .topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .topnav img {
    height: 48px;
  }

  .topnav a.icon {
    display: none;
  }

  .topnav #myLinks2 {
    display: inline-flex;
  }

  #section-about {
    padding: 0;
  }

  #section-about h1,
  #section-about p {
    padding: 6% 0 3% 0;
  }

  #section-projects {
    display: grid;
    align-items: flex-end;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content;
    padding: 6% 10% 10% 10%;
    gap: 5%;
  }

  .project-div {
    width: fit-content;
    height: fit-content;
  }

  #section-contact {
    padding: 100px 0;
  }
}
