:root {
  --background-color-main: rgb(37, 37, 218);
  --background-color-secondary: rgb(100, 100, 241);
  --width-main: 80%;
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* ================================
HEADER
================================ */

header {
  height: 50px;
  padding: 0 5%;
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color-main);
}

header img {
  max-height: 100%;
  padding: 10px 0;
}

#header-menu {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

#header-menu a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
}

/* ================================
ABOUT
================================ */

#section-about {
  height: 600px;
  background-color: var(--background-color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10%;
}

#section-about p,
#section-about h1 {
  width: var(--width-main);
}

h1 {
  font-size: 3em;
  color: white;
}

p {
  font-size: 1.5em;
  color: white;
}

/* ================================
PROJECTS
================================ */

#section-projects {
  background-color: var(--background-color-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  row-gap: 40px;
}

.project-div {
  background-color: var(--background-color-secondary);
  width: var(--width-main);
  border-radius: 5%;
}

.project-div img {
  width: 100%;
  border-radius: 5% 5% 0 0;
}

.project-div h2 {
  color: white;
  text-align: center;
  margin: 5% 0;
}

/* ================================
CONTACT
================================ */

#section-contact {
  background-color: var(--background-color-secondary);
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

#section-contact form {
  width: var(--width-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

#section-contact input {
  height: 50px;
  width: 100%;
  font-size: 1.5em;
  border: none;
}

#section-contact textarea {
  width: 100%;
  height: 250px;
  font-size: 1.5em;
  resize: none;
  border: none;
}

#section-contact button {
  width: 50%;
  height: 50px;
  font-size: 1.5em;
  border-radius: 5px;
  border: none;
  background-color: blue;
  color: white;
}

/* ================================
FOOTER
================================ */

footer {
  height: 50px;
  padding: 0 5%;
  bottom: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color-main);
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  padding: 5px;
  border: 3px solid white;
}

footer span {
  color: white;
  font-size: 1.5em;
}
